@page
@model RazorWebApp.Pages.TestModel
@{
    ViewData["Title"] = "Search Page";
}

<h1>Search Page</h1>

<form method="get" asp-page-handler="Search">
    <input type="text" name="searchTerm" value="@Model.SearchTerm" placeholder="Search..." />
    <button type="submit">Search</button>
</form>


@if (Model.Results != null && Model.Results.Any())
{
    <ul>
        @foreach (var item in Model.Results)
        {
            <li>@item</li>
        }
    </ul>
}
else if (Model.SearchTerm != null)
{
    <p>No results found.</p>
}